# Loops

<b> Exercise 1: </b>
print out the following using the range(), enumerate(), and zip() methods:

- state 0 is Arizona, and city 0 is Phoenix
- state 1 is Texas, and city 1 is Austin
- state 2 is California, and city 2 is San Diego
- state 3 is New York, and city 3 is New York

In [1]:
cities = ["Phoenix", "Austin", "San Diego", "New York"]
states = ["Arizona", "Texas", "California", "New York"]

<b> Exercise 2: </b>
do the same using a <i> for</i> loop and a  <i> while loop</i>

<b> Exercise 3: </b> loops w/ unpacking:
print the following

The Brandybuck are from Buckland

The Bagginses are from Bag's End

...

In [2]:
hobbit_places = (('Buckland','Brandybucks'),("Bag's End",'Bagginses'),('Tuckborough ','Tooks'))

<b> Exercise 4: </b> dictionary unpacking w/ nested loops:
Write a nested loop to print the following

- The Hobbits:
- Their home is the Shire
- example is Frodo
- The Elves:
- Their home is Valinor
- example is Galadriel
- The Dwarves
-  home is Erebor
-  example is Gimli

In [3]:
LOTR_dict = {'Hobbits':{'Home':'The Shire','Example':"Frodo"},
           'Elves':{'Home':'Valinor','Example':"Galadriel"},
           'Dwarves':{'Home':"Erebor",'Example':'Gimli'}}

In [4]:
LOTR_dict

{'Hobbits': {'Home': 'The Shire', 'Example': 'Frodo'},
 'Elves': {'Home': 'Valinor', 'Example': 'Galadriel'},
 'Dwarves': {'Home': 'Erebor', 'Example': 'Gimli'}}

# Misc.
<b> Exercise 5: </b>

1. x= "Do not take me for some conjurer of cheap tricks. I am not trying to rob you. I'm trying to help you."
2. Split the string into a list of strings.
3. Check to see if the words 'tricks' and "rob" are in the list.
4. find the length of the list.
5. Add a new list ['My', 'Precious'] to the list
6. remove the word "cheap" from the list.
7. What is the position of the word "conjurer"\
8. Finally, use a single space ' ' to join all elements of the list into one string.

<b> Exercise 6: </b>

Recall that n! is read as “n factorial” and defined as n!=n×(n−1)×⋯×2×1. Your job is to write your own version as an exercise. In particular, write a function factorial() such that factorial(n) returns n! for any positive integer n.

<b> Exercise 7: </b>

Write a function that takes a string as an argument and returns the number of capital letters in the string.

<b> Exercise 8: </b>

Write a function that:
1. takes a integer (x)
2. multiplies it by 5
3. subtracts 3
4. adds the original integer (x) divided by 5

<b> Exercise 9: </b>

Write some code that tells me how many upper case and lower case letters there are in:

In [5]:
sentence="A b C d E f G h I j K l"

<b> Exercise 10: </b>

Write some code that capitalizes every word in this list:

In [6]:
my_list=["the","one","piece","is","real"]

<b> Exercise 11: </b>

The Cobb-Douglas production is defined as 

$ Y = F(A, K, L) = A K^\alpha L ^{1-\alpha} $.

Define a function called Cobb_Douglas, with A, K, L as inputs, and Y as output. $\alpha$ is an optional argument with a default value of 0.3.

<b> Exercise 14: </b>

write a function that calculates the sum of all numbers from 0-x

<b> Exercise 15: </b>

write a function that removes the first x letters from a string

<b> Exercise 16: </b>

Write a function find the longest string in a list of strings.

<b> Exercise 17: </b>

write a python script that calculates the fibbonacci sequence for the first 14 numbers

<i>The Fibonnaci seqence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13,</i>

# List Slicing / indexing

<b> Exercise 12: </b>

1. Find the first element in the list
2. Find the 5-8th element in the list
3. print the elements 5th from the right to the 2nd from the right
4. print the elements in reverse order <i>hint:  use a while loop</i> 
5. create a new list that is made up of the 4th-9th values of the original list. Find the 2nd element of this new list
6. Replace the 4th element in the list with "Dogs" and the 8th element with "friends
7. find the index of the word "worshipped"

In [7]:
exercise_12=['In', 'ancient', 'times', 'cats', 'were', 'worshipped', 'as', 'gods;', 'they', 'have', 'not', 'forgotten', 'this']

<b> Exercise 13: </b>

1. remove every alternate word in the list. your new list should be something like ["this", "life" ... "traffic"]
2. use comprehension to capitalize every word in the list
3. use a loop to print every word with the letter "i" in it

In [8]:
exercise_13=['This', 'isn’t', 'life', 'in', 'the', 'fast', 'lane,', 'it’s', 'life', 'in', 'the', 'oncoming', 'traffic.']

# Answers:

In [9]:
#1

for i in range(len(cities)):
    print(f"state {i} is {states[i]}, and city {i} is {states[i]}")


for i,j in enumerate(cities):
    print(f"state {i} is {states[i]}, and city {i} is {j}")



for x,y in zip(cities,states):
    print(f"state {cities.index(x)} is {x}, and city {states.index(y)} is {y}")

state 0 is Arizona, and city 0 is Arizona
state 1 is Texas, and city 1 is Texas
state 2 is California, and city 2 is California
state 3 is New York, and city 3 is New York
state 0 is Arizona, and city 0 is Phoenix
state 1 is Texas, and city 1 is Austin
state 2 is California, and city 2 is San Diego
state 3 is New York, and city 3 is New York
state 0 is Phoenix, and city 0 is Arizona
state 1 is Austin, and city 1 is Texas
state 2 is San Diego, and city 2 is California
state 3 is New York, and city 3 is New York

In [10]:
#2
for i,j in enumerate(cities):
    print(f"state {i} is {states[i]}, and city {i} is {j}")
    

i=0
while i<len(cities):
    print(f"state {i} is {states[i]}, and city {i} is {states[i]}")
    i=i+1

state 0 is Arizona, and city 0 is Phoenix
state 1 is Texas, and city 1 is Austin
state 2 is California, and city 2 is San Diego
state 3 is New York, and city 3 is New York
state 0 is Arizona, and city 0 is Arizona
state 1 is Texas, and city 1 is Texas
state 2 is California, and city 2 is California
state 3 is New York, and city 3 is New York

In [11]:
#3
for farthing, hobbit in hobbit_places:
    print(f'The {hobbit} are from {farthing}')

The Brandybucks are from Buckland
The Bagginses are from Bag's End
The Tooks are from Tuckborough

In [12]:
#4
for x,y in LOTR_dict.items():
    print("The ", x)
    for i,j in y.items():
        print(i,"is",j)

The  Hobbits
Home is The Shire
Example is Frodo
The  Elves
Home is Valinor
Example is Galadriel
The  Dwarves
Home is Erebor
Example is Gimli

In [13]:
#5
x= "Do not take me for some conjurer of cheap tricks. I am not trying to rob you. I'm trying to help you."
x=x.split()
print("tricks" and "rob" in x)
print(len(x))
x.extend(['my','precious'])
x.pop(x.index('cheap'))
print(x.index('conjurer'))
y=" ".join(x)
print(y)

True
22
6
Do not take me for some conjurer of tricks. I am not trying to rob you. I'm trying to help you. my precious

In [14]:
#6
def factorial(n):
    total=1
    while n>0:
        total=total*n
        n=n-1
    return total

In [15]:
#7 
def cap_letters(string):
    count=0
    for i in str(string):
        if i.isupper():
            count+=1
            
    return(count)
cap_letters("AAA!")

3

In [16]:
#8
def math_func(x):
    y=x*5
    y=y-3
    y=y+(x/5)
    
    return y

math_func(10)

49.0

In [17]:
#9
sentence="A b C d E f G h I j K l"

upper=0
lower=0
for i in sentence:
    if i.isupper():
        upper+=1
    if i.islower():
        lower+=1
print("upper is",upper)
print("lower is",lower)

upper is 6
lower is 6

In [18]:
#10
op_list=["the","one","piece","is","real"]

for i in op_list:
    op_list[op_list.index(i)]=i.upper()

op_list

['THE', 'ONE', 'PIECE', 'IS', 'REAL']

In [19]:
#11
def Cobb_Douglas(A, K, L, α = 0.3):
    return A*K**α*L**(1-α)

Cobb_Douglas(1,8,2)

3.031433133020796

In [20]:
#12
exercise_12=['In', 'ancient', 'times', 'cats', 'were', 'worshipped', 'as', 'gods;', 'they', 'have', 'not', 'forgotten', 'this']

print(exercise_12[0])
print(exercise_12[4:8])
print(exercise_12[-5:-1])

i=len(exercise_12)-1
while i>=0:
    print(exercise_12[i])
    i=i-1
    
#or you can use .reverse()
exercise_12.reverse()
for i in exercise_12:
    print(i)

print(" \n")
exercise_12=['In', 'ancient', 'times', 'cats', 'were', 'worshipped', 'as', 'gods;', 'they', 'have', 'not', 'forgotten', 'this']

print(exercise_12[3:9][1])
exercise_12[3],exercise_12[7]="dogs","friends"

exercise_12.index("worshipped")

In
['were', 'worshipped', 'as', 'gods;']
['they', 'have', 'not', 'forgotten']
this
forgotten
not
have
they
gods;
as
worshipped
were
cats
times
ancient
In
this
forgotten
not
have
they
gods;
as
worshipped
were
cats
times
ancient
In


were

5

In [28]:
#13

"""
1. remove every alternate word in the list. your new list should be something like ["this", "life" ... "traffic"]
2. use comprehension to capitalize every word in the list
3. use a loop to print every word with the letter "i" in it

"""
exercise_13=['This', 'isn’t', 'life', 'in', 'the', 'fast', 'lane,', 'it’s', 'life', 'in', 'the', 'oncoming', 'traffic.']
i=0
new_list=[]
while i<len(exercise_13):
    if i%2==0:
        new_list.append(exercise_13[i])
    i=i+1
new_list

['This', 'life', 'the', 'lane,', 'life', 'the', 'traffic.']

In [4]:
#14
def sum_of_range(x):
    total=0
    for i in list(range(x+1)):
        total=i+total
    return total
sum_of_range(10)

#or you can just use sum(list(range(x+1)))

55

In [2]:
#15
def ex_15(string,x):
    return string[x:]

ex_15("abcdefghijklmnopqrstuvwxyz",3)

'defghijklmnopqrstuvwxyz'

In [6]:
#16 

def ex_16(n):
    fibbonacci_list=[]
    i=0
    while i<n:
        if i<2:
            #stuff
            fibbonacci_list.append(1)
        else:
            fibbonacci_list.append(fibbonacci_list[i-1]+fibbonacci_list[i-2])
        i=i+1    
        
    return fibbonacci_list

ex_16(10)

0
1
2
3
4
5
6
7
8
9

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]