## Pandas Exercises 2:

1. convert a list of positive integers into a Pandas Series object
2. find the square root of every element in the Series
3. Create a dictionary with 3 key/value pairs then convert it into a Pandas DataFrame
4. Create a Pandas dataframe using this link: https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv
5. Find the 43rd item in the depth column.
6. find all rows where the color is "E"
7. Create a new column called 'purchase'. If the cut is Premium and its carat is greater than 0.4, set the value of purchase for that row to be YES, otherwise its value is NO. (This code will take about 20-40 second sto run
8. find the median carat
9. find the average price
10. find the average size of the gemstone (hint: each stone gives us x, y, and z values
11. remove all rows from the DataFrame where the cut is "Fair"
12. sort the dataframe by the carat

In [1]:
import pandas as pd
import numpy as np

In [2]:
#1
mylist=[1,2,3,4,56,7,2,81,5,1,16,3,5,2]
series1=pd.Series(mylist)
series1

0      1
1      2
2      3
3      4
4     56
5      7
6      2
7     81
8      5
9      1
10    16
11     3
12     5
13     2
dtype: int64

In [3]:
#2
series1**(1/2)

0     1.000000
1     1.414214
2     1.732051
3     2.000000
4     7.483315
5     2.645751
6     1.414214
7     9.000000
8     2.236068
9     1.000000
10    4.000000
11    1.732051
12    2.236068
13    1.414214
dtype: float64

In [4]:
#3
my_dict={
    "aaa":[1,2,3],
    "bbb":[4,5,6],
    "ccc":[8,9,10],
}
pd.DataFrame(my_dict)

   aaa  bbb  ccc
0    1    4    8
1    2    5    9
2    3    6   10

In [5]:
#4
df=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')

In [6]:
#5
df['depth'].iloc[42]

65.2

In [7]:
#6
df[df['color']=='E']

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
8       0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
14      0.20    Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53926   0.71      Ideal     E     SI1   61.9   56.0   2756  5.71  5.73  3.54
53928   0.79    Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49

[9797 rows x 10 columns]

In [8]:
#7
df['purchase']=np.nan
z=0
for i,j in zip(df['carat'].to_list(),df['cut'].to_list()):
    if i>.4 and j=='Premium':
        df['purchase'].iloc[z]='Yes'
    else:
        df['purchase'].iloc[z]='No'
    z=z+1

C:\Users\capma\AppData\Local\Temp\ipykernel_13880\777620113.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['purchase'].iloc[z]='No'

In [9]:
#8
df['carat'].median()

0.7

In [10]:
#9
df['price'].mean()

3932.799721913237

In [11]:
#10
(df['x']*df['y']*df['z']).mean()

129.84940333672324

In [12]:
#11
df=df.drop(df[df['cut']=='Fair'].index.to_list(),axis='index')
df

,carat,cut,color,clarity,depth,table,price,x,y,z,purchase
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,No
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,No
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,No
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,No
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,No
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,No
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,No
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,No
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,Yes
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,No

In [13]:
df.sort_values(by="carat",inplace=True)
df

,carat,cut,color,clarity,depth,table,price,x,y,z,purchase
31596,0.20,Premium,F,VS2,62.6,59.0,367,3.73,3.71,2.33,No
31593,0.20,Premium,E,VS2,61.1,59.0,367,3.81,3.78,2.32,No
31594,0.20,Premium,E,VS2,59.7,62.0,367,3.84,3.80,2.28,No
14,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27,No
31595,0.20,Ideal,E,VS2,59.7,55.0,367,3.86,3.84,2.30,No
...,...,...,...,...,...,...,...,...,...,...,...
27679,3.51,Premium,J,VS2,62.5,59.0,18701,9.66,9.63,6.03,Yes
26534,3.67,Premium,I,I1,62.4,56.0,16193,9.86,9.81,6.13,Yes
26444,4.00,Very Good,I,I1,63.3,58.0,15984,10.01,9.94,6.31,No
25999,4.01,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24,Yes
25998,4.01,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17,Yes